modules = ["postgresql-16", "python-3.11", "python3", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "alsa-lib", "borgbackup", "cairo", "cargo", "catch2", "ffmpeg", "ffmpeg-full", "fmt", "fontconfig", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libGL", "libGLU", "libiconv", "libjpeg", "libpng", "libxcrypt", "muparserx", "nlohmann_json", "openssl", "pkg-config", "portaudio", "portmidi", "postgresql", "pulseaudio", "qhull", "rustc", "spdlog", "tcl", "tk"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Start Roboto SAI"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Roboto SAI"
author = 43301296
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --config gunicorn.conf.py main:app"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["python_database:1.0.0", "python_openai:1.0.0", "python_log_in_with_replit:1.0.0", "spotify:1.0.0", "youtube:1.0.0", "python_xai:1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-bfee5df0-9e75-44ce-8ad5-f35234663cfb"
